.card {
  width: 100%;
  max-width: calc(425px - 2rem);
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 5px;
  margin-top: 2rem;
  overflow: hidden;
}

.card:nth-child(1) {
  margin-top: 0;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .card {
    width: calc((100% - 2rem) / 2);
    max-width: none;
    height: 500px;
    margin-top: 2rem;
  }

  .card:nth-child(2) {
    margin-top: 0;
  }

  .card:nth-child(2n + 1) {
    margin-right: 2rem;
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc((100% - 4rem) / 3);
    max-width: none;
    height: 600px;
    margin-top: 2rem;
    margin-right: 2rem;
  }

  .card:nth-child(3) {
    margin-top: 0;
  }

  .card:nth-child(3n) {
    margin-right: 0;
  }
}